*{
    font-family: Helvetica;
}

header h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1o2khst*_ga*MTE3MzU2NjMyMS4xNzEzNDc5MTY4*_ga_3LRZM6TM9L*MTcxNDI3MjY2MS45LjEuMTcxNDI3Mjk1MS41OC4wLjA.);
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2{    
    background-color: mediumspringgreen;
}

.frames h2{
    background-color: lightcoral;
}

.paint h2{
    background-color: skyblue;
}

.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}